body {
    background-color: rgb(238, 238, 238);
}
#text {
    color: #fff;
}
.img-logo {
    width: 120px;
    border-right: 1px solid white;
    padding-right: 15px;
}
.nav-menu {
    background-color: rgb(2,45,96);
    padding: 10px;
}
#img-admin {
    width: 50px;
    margin-bottom: 10px;
    border-radius: 50px;
}
.drop-menu {
    margin-right: 1000px;
}
#avatar {
    width: 100%;
    background-color: aqua;
}
#user-avt {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name {
    color: #fff;
    padding-left: 20px;
    padding-right: 15px;

}
#box-avt {
    margin-right: 30px;
}
.navbar-toggler {
    border: 1px solid #fff;
}
.navbar-toggler-icon-custom {
    color: #fff;
}
#nav-menu-top {
    padding-top: 0;
}
/* ---------------------- */
content {
    display: flex;
    flex-direction: row;
    position: relative;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-left {
    width: 18%;
    height: 635px;
}
#header-menu-left {
    padding: 20px;
}
.content {
    width: 80%;
    margin-left: 15px;
}
.item-box-information {
    width: 48%;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}
.accordion {
  height: 1000px;  
}
.box-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
}
/* --------student--------- */
.header-content-info-student {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.header-box-info-student {
    text-align: center;
}
/* #detail-score {
    background-color: #0e710c;
    overflow: 300px;
    height: 350px;
} */
/* --------------- */

.info-score-high {
    padding: 30px;
    background-color: rgb(186, 176, 176,0.8);
    box-shadow: 10px 10px 10px gray;
    position: absolute;
    width: 80%;
    height: 635px;
    margin-left: 15px;
}
.scrollable { /* Chiều cao của phần tử cuộn */
    overflow-y: scroll; /* Kích hoạt thanh cuộn khi nội dung vượt quá chiều cao */
    margin: auto;
    margin-left: auto;
    width: 600px;
    height: 500px;
}
.info-score-high-header {
    margin: auto;
    text-align: center;
}
.table-course {
    width: 80%;
}
