body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 158px;
    background-color: rgb(3,46,97);
}
.img-logo {
    width: 120px;
    border-right: 1px solid white;
    padding-right: 15px;
    
}
.title-header {
    color: white;
    font-size: 20px;
}
.home-page {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 80px;

}
.item-logo {
    padding: 10px;
}
.account {
    display: flex;
    margin-right: 30px;
    margin-top: 13px;
    height: 45px;
}
.item-account {
    font-size: 20px;
    padding: 10px;
}
.text-item-acc {
    color: white;
}
.text-item-acc:hover {
    box-shadow: 0 2px white;
}
.menu {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    margin-top: 32px;

}
.item-menu {
    color: white;
    font-weight: bold;
    align-items: center;
    padding: 18px;
}
.text-item-menu {
    color: white;
}
.text-item-menu:hover {
    box-shadow: 0 2px white;
}

.text-left{
    color: violet;
    box-shadow: 0 2px violet;
}
a {
    text-decoration: none;
}

.text-register{
    margin-left: 50px;
    color: rgb(3,46,97);
}
.login-input {
    width: 80%;
    margin: 0 auto;
    border: 18px solid #EBEFF0;
}
.panel-title {
    background-color: #00953B;
    margin: 0;
    padding: 25px;
    color: white;
    font-weight: bold;
}
.input-content {
    margin-left: 40px;
}
.text-input-content {
    color: rgb(3,46,97);
}
.input {
    width: 650px;
    height: 55px;
    border: 1px solid c4c4c4;
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 5px;
}
.buttom-login {
    width: 200px;
    height: 50px;
    background-color: #00953B;
    color: #EBEFF0;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
}
.buttom {
    display: flex;
    justify-content: center;
    flex-direction: row;
} 
.button-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-button-extra {
    padding: 5px;
}
.register-account {
    display: flex;
    justify-content: center;
}
.buttom-register {
    width: 100px;
    height: 30px;
    background-color: #00953B;
    border: 0;
    color: #EBEFF0;
    font-size: 15px;
    border-radius: 8px;
}
.buttom-register:hover {
    background-color: #5DEB4B;
    color: rgb(11, 73, 149);
}
.buttom-login:hover {
    background-color: rgb(11, 73, 149);
}

.footer {
    background-color: #00953B;
    height: 250px;
    display: flex;
    justify-content: center;
}
.box-footer {
    padding-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    
}
.content-footer-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100px;
    flex-grow: 1;
}
.footer-left {
    padding: 5px;
}
.item-footer-left {
    padding-right: 10px;
    color: #fff;
}
.text-content-footer-left {
    color: #fff;
}

.bottom-left-footer {
    display: flex;
    padding-top: 13px;
}
.item-footer-left-bottom {
    color: #fff;
    padding: 8px;
}
.content-footer-center {
    flex-grow: 1;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-center {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}
.item-footer-center {
    color: #fff;
    padding-top: 5px;
}
.content-footer-right {
    flex-grow: 1;
    width: 100px;
}
.footer-center-nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.footer-right {
    color: #fff;
}
.header-menu-footer {
    color: rgb(35,8,90);
    font-size: 20px;

}
