.detail-panel {
    width: 80%;
    margin: 0 auto;
    border: 18px solid #EBEFF0;
}
.panel-title {
    background-color: #00953B;
    margin: 0;
    padding: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-family: Arial;
}

th {
    background-color: darkgray;
}
tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightblue;
}